<ul id="editor-top">
	<li><a href="#base_fieldset"><?php echo __('General Settings'); ?></a></li>
	<?php if ($block->getMenu()->getId()) { ?>
	<li><a href="#menueditor"><?php echo __('Menu Editor'); ?></a></li>
	<li><a href="#menudesign"><?php echo __('Design Options'); ?></a></li>
	<?php } ?>
</ul>
<script type="text/javascript">
	require(["jquery"], function($){
	    // turn off key quyenanh
        $('input[disabled="disabled"]').removeAttr('disabled');
        $('.message-error').css('display','none');
        $('select').removeAttr('disabled');
        //end qa
		$("#editor-top a:first").addClass("active");
		$("#editor-top a").click(function() {
			$("#menueditor, #base_fieldset, .menu-design").hide();
			$('#editor-top a').removeClass("active");
			$(this).toggleClass("active");
			$('#menueditor').removeClass('lof-design');
			if ($('#nestable > .dd-list').children().length) {
				$('.megamenu-editor').show();
			}
			$('.menu-top').show();
			if ($(this).attr('href') == '#menudesign') {
				$('.menu-design input').trigger('change');
				$('.menu-design select').trigger('change');
				$('.megamenu-editor, .menu-top').hide();
				$('#menueditor, .menu-design').show();
				$('#menueditor').addClass('lof-design');
			} else {
				$('#nestable > .dd-list').removeAttr('style');
				var targetE = $(this).attr("href");
				$(targetE).show();
			}
			return false;
		});
	});
</script>